#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  background: linear-gradient(182deg, #2849b0, #0e1429);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
}
.spinner {
  margin-top: 20px;
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.container {
  width: var(--container-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.📦 {
  width: var(--box-size);
  height: var(--box-size);
  position: relative;
  display: block;
  transform-origin: -50% center;
  border-radius: var(--box-border-radius);

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
    border-radius: var(--box-border-radius);
    box-shadow: 0px 0px 10px 0px rgba(#1c9fff, 0.4);
  }

  &:nth-child(1) {
    animation: slide var(--duration) ease-in-out infinite alternate;
    &:after {
      animation: color-change var(--duration) ease-in-out infinite alternate;
    }
  }


  &:nth-child(2):after {
    background-color: #1c9fff;
  }
  &:nth-child(3):after {
    background-color: #1fb1fd;
  }
  &:nth-child(4):after {
    background-color: #22c7fb;
  }
  &:nth-child(5):after {
    background-color: #23d3fb;
  }
}