/* Styling umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  .loading-content {
    width: 100%;
    /* padding-right: 215px; */
  }
  
  .loading-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }
  
  .loading-complete h3 {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
  }
  
  /* Progress bar */
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #3498db;
    border-radius: 5px;
    animation: progressAnimation 2s linear infinite;
  }
  
  /* Animasi untuk progress bar */
  @keyframes progressAnimation {
    0% {
      background-color: #3498db;
    }
    50% {
      background-color: #1abc9c;
    }
    100% {
      background-color: #3498db;
    }
  }
  
  /* Optional: Menambahkan efek loading spinner untuk kesan visual tambahan */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  