/* Styling umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  .loading-content {
    width: 100%;
    /* padding-right: 215px; */
  }
 
  .loading-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }

  .progress {
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    transition: width 1s ease-in-out; /* Tambahkan transisi halus */
  }
  
  .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(0,0,0,.1) 25%, rgba(255,255,255,.1) 50%, rgba(0,0,0,.1) 75%);
    background-size: 40px 40px;
  }
  
  .progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
  }
  
  @keyframes progress-bar-stripes {
    0% { background-position: 40px 0; }
    100% { background-position: 0 0; }
  }
  
  