

@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./wlpwgwvFAVdoq2_v9KQU4Wc.woff2") format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./wlpwgwvFAVdoq2_v9aQU4Wc.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./wlpwgwvFAVdoq2_v-6QU.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* @font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lexend/v23/wlpwgwvFAVdoq2_v9KQU4Wc.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lexend/v23/wlpwgwvFAVdoq2_v9aQU4Wc.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lexend/v23/wlpwgwvFAVdoq2_v-6QU.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

/* lexend-regular - latin */
/* @font-face {
    font-display: swap;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    src: url("../src/assets/fonts/lexend-v23-latin-regular.woff2") format("woff2");
} */

/* @font-face {
    font-display: swap;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    src: url("../src/assets/fonts/Lexend-Regular.ttf") format("ttf");
} */

/* @import url("../node_modules/@fontsource/lexend/index.css"); */
:root {
    --bs-body-font-family: "Lexend", sans-serif !important;
}

body {
    --bs-font-sans-serif: "Lexend", sans-serif !important;
    --bs-body-font-family: var(--bs-font-sans-serif);
}

/* :body {
    font-family: "Lexend";
} */

/* @import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Lexend:wght@100..900&display=swap"); */

/* @font-face {
    font-family: "Poppins-Black";
    src: url(/src/assets/fonts/Poppins-Black.otf) format("opentype");
}
@font-face {
    font-family: "Poppins-BlackItalic";
    src: url(/src/assets/fonts/Poppins-BlackItalic.otf) format("opentype");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(/src/assets/fonts/Poppins-Bold.otf) format("opentype");
}
@font-face {
    font-family: "Poppins-BoldItalic";
    src: url(/src/assets/fonts/Poppins-BoldItalic.otf) format("opentype");
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(/src/assets/fonts/Poppins-SemiBold.otf) format("opentype");
}
@font-face {
    font-family: "Poppins-SemiBoldItalic";
    src: url(/src/assets/fonts/Poppins-SemiBoldItalic.otf) format("opentype");
}
@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(/src/assets/fonts/Poppins-ExtraBold.otf) format("opentype");
}
@font-face {
    font-family: "Poppins-ExtraBoldItalic";
    src: url(/src/assets/fonts/Poppins-ExtraBoldItalic.otf) format("opentype");
}
@font-face {
    font-family: "Poppins-Italic";
    font-style: italic;
    src: url(/src/assets/fonts/Poppins-Italic.otf) format("opentype");
} */

/* :root {
    --bs-body-font-family: "Lexend", sans-serif !important;
} */
