/* css bg login */
.bggradient {
  background: rgb(15, 16, 95);
  background: linear-gradient(0deg, rgb(13, 15, 102) 0%, rgb(63, 97, 190) 70%);
}
.bgcontainer {
  background: rgb(15, 16, 95);
  background: linear-gradient(
    0deg,
    rgba(15, 16, 95, 1) 0%,
    rgba(100, 111, 255, 0.4514180672268907) 100%
  );
}
div#layoutAuthentication {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.bgcard {
  background: rgb(15, 16, 95);
  background: linear-gradient(
    0deg,
    rgba(15, 16, 95, 1) 0%,
    rgba(15, 19, 59, 0.4514180672268907) 100%
  );
}
.bgcard2 {
  background: rgb(15, 16, 95);
  background: linear-gradient(
    0deg,
    rgba(15, 16, 95, 1) 0%,
    rgba(7, 11, 66, 0.451) 100%
  );
}
.bgcard3 {
  background: rgb(15, 16, 95);
  background: linear-gradient(
    0deg,
    rgb(58, 20, 119) 0%,
    rgba(7, 11, 66, 0.451) 100%
  );
}
/* css bg header gradient */
.headgradient {
  background-image: url("../images/head.png");
  /* background: rgb(252, 252, 252);
  background: linear-gradient(
    90deg,
    rgba(252, 252, 252, 1) 0%,
    rgba(219, 219, 227, 1) 23%,
    rgba(66, 66, 168, 1) 43%,
    rgba(16, 19, 61, 1) 100%
  ); */
}
/* cssheadmenu */
.bgheadmenu {
  background-image: url("../images/head_cont.png");
  /* background: rgb(247, 182, 13);
  background: linear-gradient(
    90deg,
    rgba(247, 182, 13, 1) 0%,
    rgba(217, 37, 37, 1) 20%,
    rgba(41, 41, 40, 1) 40%
  ); */
}
/* add wildan */
.dropdown-item:hover {
  background-color: #3432c7;
  color: #ffffff !important;
}
.textfamily {
  color: #05129b !important;
  font-family: russo one;
}

li a:hover {
  background-color: #3432c7;
  color: #ffffff !important;
}

.text-field-with-error {
  border: 1px solid;
  border-color: #c4c4c4;
  outline: 1px solid red !important;
  outline-offset: 1px;
}
.card-animate {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.card-animate:hover {
  -webkit-transform: translateY(calc(var(--vz-grid-gutter-width) * -0.15));
  transform: translateY(calc(var(--vz-grid-gutter-width) * -0.15));
  -webkit-box-shadow: 0px 20px 30px -10px rgba(175, 120, 17, 0.556);
  box-shadow: 0px 20px 30px -10px rgba(175, 120, 17, 0.556);
  background-color: #e72727;
}
.s0 {
  opacity: 0.05;
  fill: var(--vz-danger);
  background: #e72727;
}

.errorLabel {
  color: red;
  font-size: 12px;
}

.custom-select {
  position: relative;
  width: 100%;
  /* height: 40px !important; */
  /* width: 150px; */
}

.select-button {
  width: 100%;
  /* background-color: #f0f0f0; */
  border: none;
  /* padding: 5px; */
  cursor: pointer;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: transparent;
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 140px;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  font-size: 12px;
}

.select-option {
  padding: 5px;
  /* display: flex; */
  align-items: center;
  cursor: pointer;
}

.select-option img {
  margin-right: 5px;
}

.select-option:hover {
  background-color: #3432c7;
  color: #ccc;
}
