
  .carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 50% !important;
  transition: height .15s ease-in;
}
.carousel .slide img {
    height: auto;  /* change this to whatever you want */
    width: auto;
 }

.carousel .thumbs {
  transition: all .15s ease-in;
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap;
  text-align: center;
}