
  /* TRANSAKSI */
  .flip-card {
    background-color: transparent;
    width:100%;
    height: 130px;
    perspective: 1000px;
    /* border-radius: 20px; */
    /* padding: 0px 15px; */

    text-align: center !important;
    margin: 0 auto !important;
  }
  
  .flip-card-inner {
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center !important;
    margin: 0 auto !important;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* border-radius: 20px; */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    /* text-align: center !important; */
    /* margin: 0 auto !important; */
    position: absolute;
    width: 100%;
    height: 100px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border-radius: 20px; */
  }
  
  .flip-card-front {
    background-color: transparent;
    color: black;
    margin: 0 auto;
    text-align: center;
  }
  
  .flip-card-back {
    /* background-color: #2980b9; */
    height: 100%;
    color: white;
    /* background-color: #bbb; */
    transform: rotateY(180deg);
    width: 100%;
    padding-top: 10px;
    border-radius: 5px;
  }
  
  @media(min-width: 300px) and (max-width: 599px) {
 
    .flip-card {
      width: 100% !important;
      background-color: none;
      float: left;
      height: 180px !important;
      padding: 5px;
      box-shadow: none;
  
    }
 
    .flip-card-inner {
      float: left;
      width: 100%;
      height: 150px !important;
      background-color: none;
    }
  }
  
  @media (min-width: 600px) and (max-width: 767px) {
 
    .flip-card {
      width: 100% !important;
      float: left;
      height: 110px;
      padding: 5px;
    }
 
    .flip-card-inner {
      float: left;
      width: 100%;
      height: 100px;
    }
 
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .flip-card {
      width: 100% !important;
      /* background-color: aqua; */
      float: left;
      height: 130px;
      padding: 5px;
    }
 
    .flip-card-inner {
      float: left;
      width: 100%;
      height: 120px;
    }
  }
  
  @media (max-width:299px) { }

  @media (min-width: 992px) and (max-width: 1299px) {}
  
  @media (min-width: 1300px) {}