.progress {
    height: 20px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    color: #fff;
    text-align: center;
    transition: width 0.3s ease-in-out; /* Animation duration and easing */
    background-color: #007bff;
  }