.multi-line-table {
    width: 100%;
    border-collapse: collapse;
}

.multi-line-table th, .multi-line-table td {
    border: 1px solid #ccc;
    /* padding: 8px; */
    text-align: left;
    vertical-align: top; 
    word-wrap: break-word;
    /* white-space: pre-wrap;  */
}

.multi-line-row td {
    /* display: block; */
    padding-bottom: 10px;
}

.sub-table {
    background-color: #f9f9f9;
    border: #000000 1px solid;
}

.sub-table td {
    padding: 10px;
}
.td-nested {
    background-color: aqua !important;

}