/* .table{
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin: auto;
}

table.table-bordered_low_stock > thead > tr > th{
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

tbody tr:nth-child(odd){
    background: #e0e0e0;
}

tbody tr:nth-child(even){
    background: #bdbdbd;
}

th {
  background-color: #343A40 ;
  color: white;
  
}

.form-inputs img{
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: red;
    color: #fff;
    width: 90px;
    border-radius: 4px
}



table .edit-cell-container button {
    border-radius: 50px;
    height: 26px;
    width: 26px;
    border: 1px solid #ccc;
  }
  
  table .footer-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
  }
  
  table .add-button {
    color: #4bbd7f;
  }
  
  table .remove-button {
    color: #e44747;
  }
  
  table .footer-buttons button {
    border: none;
    background-color: transparent;
  }
  
  table .edit-cell-action button[name='edit'] {
    color: #ffb918;
  }
  
  table .edit-cell-action button[name='cancel'] {
    color: #7b7b7b;
  }
  
  table .edit-cell-action button[name='done'] {
    color: #4bbd7f;
  }
  
  table .edit-cell-action button[name='done']:disabled {
    color: #ccc;
  }
  
  table .edit-cell-action button[name='remove'] {
    color: red;
    background-color: rgb(230, 208, 208);
  }
  
  table input, select {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px;
  }
  
  table .edit-cell-action {
    display: flex;
      gap: 5px;
  }
  
  table .edit-cell-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
  }
  
  table input[type='checkbox'] {
    width: 16px;
    height: 16px;
  }
  
  select:invalid, input:invalid {
    border: 2px solid red;
  } */
