/* App.css atau index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lexend', sans-serif; /* Terapkan font Lexend ke seluruh aplikasi */
  }
  
  html {
    font-family: 'Lexend', sans-serif; /* Opsional: Terapkan font ke seluruh halaman */
  }
  